{% extends './client.html' %}
{% block title %}Cuenta de usuario{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
<div class="input-group mb-3"></div>
<div class="input-group mb-3"></div>

<div class="container">
    <h2><u>{{ current_user.name}}</u></h2>
    <fieldset class="border p-2">
        <legend class="w-auto">Mis productos</legend>
        <div class="row">
            <div class="col-sm-3">
                <div class="card col-sm-4" style="width: 12rem;margin: 7px 7px;">
                    <img src="https://5sbstephanochang.000webhostapp.com/img/1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">$ ${item.price}</h5>
                        <p class="card-text">${item.name}</p>
                        <p class="card-text">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card col-sm-4" style="width: 12rem;margin: 7px 7px;">
                    <img src="https://5sbstephanochang.000webhostapp.com/img/1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">$ ${item.price}</h5>
                        <p class="card-text">${item.name}</p>
                        <p class="card-text">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card col-sm-6" style="width: 13rem;margin: 7px 7px;">
                    <img src="https://5sbstephanochang.000webhostapp.com/img/1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">$ ${item.price}</h5>
                        <p class="card-text">${item.name}</p>
                        <p class="card-text">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card col-sm-5" style="width: 13rem;margin: 7px 7px;">
                    <img src="https://5sbstephanochang.000webhostapp.com/img/1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">$ ${item.price}</h5>
                        <p class="card-text">${item.name}</p>
                        <p class="card-text">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card col-sm-6" style="width: 13rem;margin: 7px 7px;">
                    <img src="https://5sbstephanochang.000webhostapp.com/img/1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">$ ${item.price}</h5>
                        <p class="card-text">${item.name}</p>
                        <p class="card-text">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card col-sm-6" style="width: 13rem;margin: 7px 7px;">
                    <img src="https://5sbstephanochang.000webhostapp.com/img/1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">$ ${item.price}</h5>
                        <p class="card-text">${item.name}</p>
                        <p class="card-text">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card col-sm-6" style="width: 13rem;margin: 7px 7px;">
                    <img src="https://5sbstephanochang.000webhostapp.com/img/1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">$ ${item.price}</h5>
                        <p class="card-text">${item.name}</p>
                        <p class="card-text">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </fieldset>
</div>
</div>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/home.js')}}" type="module"></script>


{% endblock%}